{
  "appName": "ssb-pacman",
  "caps": {
    "shs": "FvfVnvlvQ3JxMbj9sZklg6GvRB4LDUcCSlaBku3Z2is="
  },
  "port": 10065,
  "allowPrivate": true,
  "ws": {
    "port": 10066
  },
  "gossip": {
    "connections": 4
  },
  "blobs": {
    "legacy": false
  },
  "timers": {
    "handshake": 30000,
    "keepalive": 240000
  },
  "plugins": {
    "ssb-pacman": true
  }
}
